@media screen and (max-width: 427px) {
  .mob-menu-adress-tel:focus {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(40 / 36);
  }

  .mob-menu-adress-email:focus {
    font-weight: 700;
    font-size: 26px;
    line-height: calc(40 / 36);
  }

  .mob-soc-list {
    justify-content: space-between;
  }

  .modal {
    width: 90%;
  }

  .portfolio-btn {
    padding: 8px 16px;
  }

  .portfolio-subtitle {
    font-size: 16px;
  }
}

@media screen and (min-width: 428px) {
  .mob-soc-list {
    gap: 56px;
  }

  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .modal {
    width: 392px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding: 24px 16px 22px;
    justify-content: space-between;
  }

  .header-list {
    display: none;
  }

  .address {
    display: none;
  }

  .goals-item {
    margin-bottom: 72px;
  }
  .goals-item:last-child {
    margin-bottom: 0;
  }

  .goals-subtitle {
    text-align: center;
  }

  .team > .container {
    width: 296px;
  }

  .team-item {
    margin-bottom: 72px;
  }

  .team-item:last-child {
    margin-bottom: 0;
  }

  .footer-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }

  .footer-logo {
    justify-content: center;
  }

  .footer-soc-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer-subscribe-text {
    text-align: center;
  }

  .footer-input {
    margin-bottom: 16px;
  }

  .footer-logo-text,
  .footer-soc,
  .footer-subscribe {
    width: 100%;
  }

  .footer-text {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-subscribe-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .modal {
    padding: 24px 16px;
  }

  .wrap-item {
    width: 100%;
  }

  .wrap-list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team > .container {
    width: 584px;
  }

  .customers > .container {
    width: 584px;
  }

  .footer > .container {
    width: 584px;
  }

  .button-list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .mob-menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }

  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    margin-right: 120px;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color var(--transition-duration-timing-function);
  }

  .header-link:is(:hover, :focus) {
    color: var(--active-color, #404bbf);
  }

  .header-current {
    position: relative;
    color: var(--active-color, #404bbf);
  }

  .header-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--active-color, #404bbf);
  }

  .address {
    font-style: normal;
    margin-left: auto;
    align-items: center;
  }

  .header-adress {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.04em;
    color: currentColor;
    transition: color var(--transition-duration-timing-function);
  }

  .header-adress:is(:hover, :focus) {
    color: var(--active-color, #404bbf);
  }

  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 36px;
  }
  .goals-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .goals-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .customers-list {
    gap: 72px 24px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  .footer-container {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-subscribe {
    margin: 0;
  }

  .footer-subscribe-text {
    display: inline-block;
  }

  .footer-subscribe-form {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  .footer-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    padding: 24px;
  }

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-list {
    gap: 24px;
  }

  .portfolio-btn {
    height: 48px;
  }

  .wrap-list {
    margin-top: 64px;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .wrap-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/*-------------------------- max 1158 ----------------------*/

@media screen and (max-width: 1157px) {
  .activity {
    display: none;
  }

  .portfolio-overlay-text {
    display: none;
  }
}

/*-------------------------- 1158 ----------------------*/

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .header-adress {
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  .goals-list {
    display: flex;
    gap: 24px;
  }

  .goals-item {
    width: calc((100% - 72px) / 4);
  }

  .goals-item-icon {
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activity {
    padding-top: 0;
    padding-bottom: 120px;
  }

  .activity-list {
    display: flex;
    gap: 24px;
  }

  .activity-item {
    width: calc((100% - 48px) / 3);
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-list {
    gap: 24px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 120px;
  }

  .footer-logo-soc {
    display: flex;
    gap: 120px;
    margin-bottom: 0;
  }

  .footer-subscribe {
    margin: 0 0 0 -40px;
  }

  .modal {
    width: 408px;
  }

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    justify-content: center;
  }

  .portfolio-btn {
    height: 48px;
  }

  .wrap-list {
    margin-top: 72px;
    row-gap: 48px;
  }

  .wrap-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition-duration-timing-function);
    overflow: auto;
  }

  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }

  .wrap-item:is(:hover, :focus) .portfolio-overlay-text {
    transform: translateY(0);
  }
}
