:root {
  --main-title-color: #ffffff;
  --title-color: #2e2f42;
  --subtitle-color: #2e2f42;
  --background-color: #ffffff;
  --background-color-item: #ffffff;
  --link-color: #434455;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --active-color: #404bbf;
  --transition-duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--background-color, #ffffff);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color, #2e2f42);
  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.item {
  background-color: var(--background-color-item, #ffffff);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.soc-list {
  display: flex;
  gap: 16px;
}

.soc-item {
  width: 40px;
  height: 40px;
}

.soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-timing-function);
}

.soc-icon {
  fill: #f4f4fd;
}

.soc-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

/** ---------------HEADER------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-part {
  color: #2e2f42;
}

.mob-menu-btn {
  padding: 0;
  background-color: transparent;
  border-color: transparent;
}

.mob-menu-icon {
  stroke: #2e2f42;
}

.mob-menu {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  padding: 24px 24px 40px 40px;
  display: flex;
  flex-direction: column;
  transition: transform var(--transition-duration-timing-function);
}

.mob-menu.is-hidden {
  transform: translate(90%, -90%) scale(0);
}

.mob-menu-close-btn {
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-timing-function);
}

.mob-menu-close-cross {
  fill: #2e2f42;
  transition: fill var(--transition-duration-timing-function);
}

.mob-menu-close-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

.mob-menu-close-btn:is(:hover, :focus) > .modal-close-cross {
  fill: #d9d9d9;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color var(--transition-duration-timing-function);
}

.mob-menu-link:is(:hover, :focus) {
  color: var(--active-color, #404bbf);
}

.mob-menu-current {
  color: var(--active-color, #404bbf);
}

.mob-menu-address-box {
  font-style: normal;
  margin-top: auto;
  margin-bottom: 48px;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-menu-adress-tel,
.mob-menu-adress-email {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #434455;
  transition: font-weight var(--transition-duration-timing-function),
    font-size var(--transition-duration-timing-function),
    line-height var(--transition-duration-timing-function),
    color var(--transition-duration-timing-function);
}

.mob-menu-adress-tel:focus {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: #4d5ae5;
}

.mob-menu-adress-email:focus {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: #4d5ae5;
}

/** ---------------HERO------------------- */

.hero {
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-title-color, #ffffff);
  max-width: 320px;
  margin: 0 auto 72px;
}
.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration-timing-function),
    box-shadow var(--transition-duration-timing-function),
    border-radius var(--transition-duration-timing-function);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/** ---------------GOALS------------------- */

.goals-item {
  width: 100%;
}

.goals-item-icon {
  display: none;
}

.goals-subtitle {
  color: var(--subtitle-color, #2e2f42);
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
}

.goals-item-text {
  font-weight: 500;
}

/** ---------------ACTIVITY------------------- */

/** ---------------TEAM------------------- */

.team {
  background-color: #f4f4fd;
}

.team-item {
  width: 100%;
  background: var(--background-color-item, #ffffff);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle-text {
  padding: 32px 16px;
}

.team-subtitle {
  text-align: center;
  color: var(--subtitle-color, #2e2f42);
  margin-bottom: 8px;
}

.team-text {
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-timing-function);
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

.team-soc-icon {
  fill: #f4f4fd;
}

/** ---------------CUSTOMERS------------------- */

.customers-list {
  display: flex;
  gap: 72px 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition-duration-timing-function);
}

.customers-icon {
  fill: #8e8f99;
  transition: fill var(--transition-duration-timing-function);
}

.customers-link:is(:hover, :focus) {
  border-color: var(--active-color, #404bbf);
}

.customers-link:is(:hover, :focus) > .customers-icon {
  fill: var(--active-color, #404bbf);
}

/** ---------------FOOTER------------------- */

.footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 268px;
}

.footer-soc-text {
  font-weight: 500;
  color: #ffffff;
  max-width: 208px;
  margin-bottom: 16px;
}

.footer-soc-list {
  justify-content: center;
}

.footer-subscribe {
  margin: 0 auto;
}

.footer-subscribe-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.footer-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-btn {
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-subscribe-btn-text {
  color: #ffffff;
}

/** ---------------PORTFOLIO------------------- */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

.button-list {
  display: flex;
  gap: 16px 24px;
  flex-wrap: wrap;
}

.portfolio-btn {
  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  display: block;
  display: flex;
  height: 40px;
  padding: 12px 24px;
  transition: color var(--transition-duration-timing-function),
    background-color var(--transition-duration-timing-function),
    box-shadow var(--transition-duration-timing-function),
    border-radius var(--transition-duration-timing-function);
}

.portfolio-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: var(--active-color, #404bbf);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.wrap-list {
  margin-top: 48px;
  display: flex;
  gap: 48px;
}

.wrap-item {
  transition: box-shadow var(--transition-duration-timing-function);
}

.wrap-item:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-subtitle-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

.portfolio-subtitle {
  color: var(--subtitle-color, #2e2f42);
  margin-bottom: 8px;
}

.portfolio-text {
  color: var(--link-color, #434455);
}

/** ---------------MODAL------------------- */

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  transition: visibility var(--transition-duration-timing-function),
    opacity var(--transition-duration-timing-function);
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration-timing-function);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  padding: 8px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-timing-function);
}

.modal-close-cross {
  fill: #2e2f42;
  transition: fill var(--transition-duration-timing-function);
}

.modal-close-btn:is(:hover, :focus) {
  background-color: var(--active-color, #404bbf);
}

.modal-close-btn:is(:hover, :focus) > .modal-close-cross {
  fill: #d9d9d9;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-title {
  font-weight: 500;
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
  position: relative;
}

.modal-label {
  color: #8e8f99;
  display: inline-block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  outline: transparent;
  transition: border var(--transition-duration-timing-function);
}

.modal-input::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill var(--transition-duration-timing-function);
}

.modal-textarea {
  height: 120px;
  margin-bottom: 16px;
  padding: 8px 16px;
  resize: none;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-send-btn {
  min-width: 169px;
  height: 56px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  margin: 0 auto;
}

.modal-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
}

.checkbox-field {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.checkbox-input:checked + .checkbox-text span {
  background-color: #404bbf;
  border: 1px solid #404bbf;
  fill: #f4f4fd;
}

.checkbox-input:focus + .checkbox-text span {
  border: 1px solid #404bbf;
}

.checkbox-text {
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.checkbox-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: border var(--transition-duration-timing-function);
}

.checkbox-link {
  color: #4d5ae5;
}
